@import "theme-editor.css";
@import url('./main-layout.css');
/*@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #outlet {
    height: 100%;
    width: 98%;
}

body {
    margin: 20px;
}

.horizontal-layout {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 20px;
    padding: 0;
    margin: 0;
}

.tab-item {
    margin: 5px 10px;
}

.tab-item > span {
    padding-bottom: 3px;
}

@media (max-width: 1400px) {
    .horizontal-layout > * {
        width: 100%;
        margin: 0 10px;
        padding: 0;
    }

    .search-button {
        margin-bottom: 0;
    }

    .header-layout {
        gap: 0 !important;
    }
}